{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        ["import", { "style": "css", "libraryName": "antd-mobile"}]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}