/**
 * 动画库
 */
.slide-up {
    animation: g-opacity 1s ease, g-slide-up-fixed 0.8s ease;
}

@keyframes g-opacity
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes g-slide-up-fixed {
    from {transform: translateY(50px);}
    to {transform: translateY(0);}
}

@keyframes g-slide-up {
    from {transform: translateY(30%);}
    to {transform: translateY(0);}
}

