@charset "utf-8";

html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Helvetica";
  background: #f5f5f9;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
  display: block
}

input {
  border-radius: 0;
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  border-style: 0;
  padding: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

button,
input,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

p {
  font-size: 20px;
  color: #333;
}