@charset "utf-8";

.g-pd {
    padding: 20px;
}
.g-pd-lr {
    padding: 0 20px;
}
.g-pd-lr-10 {
    padding: 0 10px;
}
.g-pd-tb {
    padding: 20px 0;
}
.g-pd-tb-10 {
    padding: 10px 0;
}
.g-pd-l {
    padding-left: 20px;
}
.g-pd-l-10 {
    padding-left: 10px;
}
.g-pd-r {
    padding-right: 20px;
}
.g-pd-r-10 {
    padding-right: 10px;
}